<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercury Transit 2019</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/transit2019.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>

<!-- .hero -->
<section class="hero is-dark" style="background: black; padding: 40px 0">
    <div class="hero-head">
        <div class="container">
            <h1 class="title is-1" style="text-align: center">Mercury Transit 2019</h1>
        </div>
    </div>
    <figure class="hero-body image center">
        <img alt="Mercury in front of the solar disk" src="/images/Transit_Of_Mercury_May_9th_2016.png" style="max-height: 400px; max-width: 400px;">
    </figure>
    <div class="hero-foot">
        <div class="container">
            <h2 class="subtitle is-3" style="text-align: center">11 November 2019 &bullet; Visible anywhere in Africa</h2>
            <p class="is-small" style="text-align: center">
                Image credit: <a href="https://commons.wikimedia.org/w/index.php?curid=48713073">Elijah Mathews</a>
            </p>
        </div>
    </div>
</section>
<!-- /.hero -->

<div class="container">
    <div class="content is-medium">
        {{ .Content }}
    </div>
</div>

<footer>
    <hr>
    <div class="logos">
        <div>
            <img alt="Logo of SAAO" src="/images/SAAO_Logo_20th.png">
        </div>
        <div>
            <img alt="Logo of SAASTA" src="/images/SAASTA_Logo_20th.png">
        </div>
        <div>
            <img alt="Logo of SARAO" src="/images/SARAO_Logo_20th.png">
        </div>
    </div>
</footer>

</body>
</html>
