<div class="notification media is-danger">
    <figure class="media-left image">
                <span class="icon is-medium">
                <i class="fas fa-2x fa-exclamation-triangle is-large"></i>
                </span>
    </figure>
    <div class="media-content">
        <h3 class="subtitle">Do not blind yourself</h3>
        Never look at the Sun through binoculars or a telescope. <strong>You may blind yourself permanently.</strong>
        Only look at the Sun through proper solar filters. Do not rely on makeshift solutions - they may cause
        substantial damage to your eyes.
    </div>
</div>
